:root{
    box-sizing: border-box;
}
header{
    border: 1px solid green;
    padding: 2px;
}
#logo-img{
    border: 2px solid black;
    height: 90px;
    width: 150px;
    margin-right: auto;
}

.header-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid pink;
}

.header-options #logo-img{
    margin-left: right;
}
.header-menu{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 700px;
    list-style: none;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-menu-text{
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    font-size: 1.2rem;
    margin-left: auto;
}

.header-menu-text a{
    text-decoration: none;
    color: orange;
}



/* main Section starts here */

/* About Section */

#about{
    margin: 20px 50px;
}
#about-img{
    height: 400px;
    width: auto;
    border-radius: 10%;
    border: 1px solid pink;
    border-bottom: 10px solid purple;
}
.about-text {
    border: 5px solid orange;
    border-radius: 5%;
    margin: 20px;
    font-size: 1.5rem;
    padding: 20px;
    text-align:justify;
}

#about-name{
    color: purple;
    font-weight: bold;
}

.about-tech{
    display: inline;
    /* border: 1px solid purple; */
    color: orange;
}

.about-tech-cs{
    display: inline;
    /* border: 1px solid purple; */
    color: orange;
    font-weight: bold;
    font-size: 1.7rem;
    text-shadow: 1px 1px 0 purple;
}

#about{
    padding: 20px;
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}







/* Footer Section of the Wwb Page */
/* 
footer{
    height: 400px;
    border: 1px solid black;


} */